* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d2b48c;
  padding: 5%;
  padding-top: 2%;
}

main {
  padding: 15px;
  background-color: #fff8e7;
  text-align: justify;
  color: #996515;
}

h2 {
  color: #262523;
  background-color: pink;
  padding: 5px;
}

div {
  padding: inherit;
  background-color: aqua;
  padding-bottom: 0px;
}

h1 {
  text-align: center;
  background-color: purple;
  padding: 10px;
  padding-top: 5px;
}

p {
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-indent: 30px;
}
